<h1><font face="georgia" color ="green">Lizipedia</h1>

<P>I live here. On the ferris wheel.</p>
  <img src="http://www.aquaticcapital.org/wp-content/uploads/2012/02/Skyline-w-LED-copy.jpg" width="1000" height="600">
